<div class="container1">
    <div class="roomsContext">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quaerat ad rem quis dicta incidunt maiores accusantium, sint, possimus fugit quibusdam cupiditate qui, officia aspernatur quas quam iusto neque suscipit!
    </div>
    <div class="chattingContext">
        <div class="pastMessages">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis voluptate optio facilis voluptatum fugiat eos veniam in corporis! Distinctio, architecto dolores aperiam incidunt, unde veniam harum nihil odit corrupti ad labore. Eos id rem ipsa fugiat sint ullam cumque, cupiditate animi architecto eveniet perferendis. Esse corrupti mollitia fugit neque molestiae!
        </div>
        <div class="sendMessage">
            <input type="text" placeholder="say something..." >
            <button type="button" (click)="sendMessage()"><img class="planeImage" src="../../assets/plane.png"></button>
        </div>
    </div>
    <a [routerLink]="['']">Back to login</a>

</div>